/* Menu Principal */
	/* Oculta el menú hamburguesa en pantallas grandes */
.menu-hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 10px;
}

.menu-hamburguesa span {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
    transition: 0.4s;
}

	/* Coloca una "burbuja" de color gris alrededor de la bandera con bordes inferiores redondeados */
.menu { 
	background: #4a4a4a;
	padding: 2px;
	border-radius: 0px 0px 20px 20px;
}

.navegacion {
	padding: 0px 0px 2px 0px;
}

	/* Quita el estilo de lista a todos los elementos de esta */
.navegacion ul{
	padding: 0px;
	list-style: none;
	justify-content: space-evenly;
}

.listaMenu {
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
}

.listaMenu > li {
	position: relative;
	display: inline-block;
}

	/* Agrega un rectángulo redondeado color blanco a cada item */
.listaMenu > li > a { 
	display: block;
	padding: 10px 36px;
	margin: 2px;
	border-radius: 15px;
	background: #ffffff;
}

.listaMenu li a:hover {
	color: #CE7D35;
}

	/* Aspecto de los submenus */
.subMenu {
	position: absolute;
	background: #e5e5e5;
	margin: 2px;
	padding: 0px 4px;
	border-radius: 15px;
	visibility: hidden;
	opacity: 0;
	transition: opacity .6s;
}

.subMenu li a {
	display: block;
	padding: 8px;
}

.listaMenu li:hover .subMenu {
	visibility: visible;
	opacity: 1;
}
/* Fin Menú Principal */

/* Menú para Celulares */
@media (max-width: 789px){
	.navegacion {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.navegacion.modificado {
		padding: 0px;
	}

	.menu-hamburguesa {
        display: flex; /* Mostrar botón del menú hamburguesa */
		margin: 0 auto; /* Lo alinea al centro */
		padding: 10px;
		border-radius: 15px;
		background: #ffffff;
		transition: padding 0.3s ease, width 0.3s ease; /* Transición a .presionado no disruptivo */
    	width: auto;
    }

	.menu-hamburguesa.presionado {
		padding: 10px 60px;
	}

	.listaMenu {
        display: flex;
        flex-direction: column;

		/* Aparición de elementos no disruptivamente */
		max-height: 0; /* Estado inicial sin altura */
		overflow: hidden; /* Corta el contenido que sobresale */
		transition: all 0.5s ease;
    }

	.listaMenu.activo {
        max-height: 500px; /* Estado secundario con altura suficiente para mostrar el contenido */
    	opacity: 1;
    	padding: 2px; /* Espaciado suave */
    }
	
	.listaMenu > li {
		/* Elementos internos entran con retraso */
		opacity: 0;
    	transition: opacity 0.6s ease;

		position: static;
		display: grid;
	}

	.listaMenu.activo > li {
		opacity: 1;
	}
	
	.listaMenu > li > a { 
	display: grid;
	border-radius: 10px;
	justify-content: center;
	}
	
	.listaMenu li:hover .subMenu {
	position: static;
	visibility: visible;
	opacity: 1;
	}
}
/* Fin Menú para Celulares */

/* Cuerpo del Documento */
	/* Otros */
* {
	font-family: 'Franklin Gothic', 'Arial Rounded MT', 'Trebuchet MS', 'Berlin Sans FB', 'Tw Cen MT';
  }

body {
	background-image:url(imagenes/imgFondo.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
}
	
a {
	text-decoration: none;
	color: #000000;
}
	
hr {
	background-color: black;
	border: 4px solid black;
	border-radius: 3px;
}

blockquote { /*Es para Tiktok*/
	border-radius: 10px 10px 10px 10px;
}
	/* Fin Otros*/

	/* Imágenes */
.logo img { /* Icono pestaña del navegador */
  width: 100%;
  height: auto;
}

.img-titulo { /* Imagen debajo del menú y encima del cuerpo de la página */
	text-align: center;
}

.img-titulo img {
	width: 40%;
}

.imgGenerica {
	width: 150px;
	border-radius: 4px;
}

		/* Presidencia */
.foto {
	margin: 8px 8px 1px 8px;
	padding: 8px;
	text-align: center;
	background: #cfcfcf;
	border-radius: 6px 6px 0px 0px;
}

.foto img {
	width: 48%;
}

		/* Carrusel de Fotos */
.carrusel-fotos {
	width: 100%;
	max-width: 1190px;
	margin: 10px auto;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 4px;
}

.carrusel-fotos img {
	width: 100%;
	object-fit: cover;
}

.carrusel-fotos img:hover {
	transform: scale(1.2);
}
		/* Fin Carrusel de Fotos */
	/* Fin Imagenes */
	
	/* Bloques de Texto */
.titulo {
	padding:8px;
	margin: 8px;
	text-align: center;
	background: #a1a1a1;
	border-radius: 10px;
}

.titulo a {
	margin: 0px;
	font-size: 22px;
}

.presentacion {	
	padding: 8px 20px;
	margin: 8px;
	border-radius: 10px;
	background: #ffffff;
}

.contGeneral { /* Diferente de la presentación por el pading para el texto. Este no lo requiere */
	padding: 8px;
	margin: 8px;
	border-radius: 10px;
	background: #ffffff;
}

.bloqueGrisClaro {
	padding: 16px;
	margin: 8px;
	border-radius: 10px;
	background: #e0e0e0;
}

.bloqueGrisClaro h3 p {
	margin: 16px;
}

.bloqueCreditos {
	width: 36%;
	margin: 0px auto;
}

.titBloqueCreditos {
	margin: 8px auto 0px auto;
	padding: 8px;
	text-align: center;
	background: #a1a1a1;
	border-radius: 6px 6px 0px 0px;
}

.titBloqueCreditos > p {
	margin: 0px;
	padding: 5px;
	font-size: 20px;
}

.acreditados {
	margin: 0px auto 8px auto;
	padding: 2px;
	text-align: center;
	background: #cfcfcf;
	border-radius: 0px 0px 6px 6px;
}

.acreditados > p {
	margin: 2px;
	padding: 2px;
}

.fila {
	padding: 4px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.columna { /* Originalmente es para la página 'enlaces' */ 
	margin-left: 10px;
	display: block;
}

.columna p {
	text-align: justify;
}

.filaDeDocumentos { 
	margin: 2px 2px 0px 2px;
	padding: 4px 4px 0px 4px; 
	display: flex;
	justify-content: space-evenly;
}

.filaDeDocumentos a {
	width: 140px;
}

.elemFila {
	background-color: #cfcfcf;
	text-align: center;
	line-height: 140px;
	width: 140px;
	height: 140px;
}

.elemFila:hover {
	background-color: #a1a1a1;
}

@media (max-width: 1083px) {
	.filaDeDocumentos {
		display: flow;
		flex-direction: none;
		margin: 0px;
		padding: 0px;
	}

	.elemFila {
		margin: 10px auto;
	}
}

.infoFecha { /* Usado junto a .foto porque es para la presidencia */
	margin: 1px 8px 8px 8px;
	padding: 8px;
	text-align: center;
	background: #a1a1a1;
	border-radius: 0px 0px 6px 6px;
}

.infoFecha > p {
	margin: 0px;
	padding: 5px;
	font-size: 26px;
}

.infoPresidencia {
	margin: 8px;
	padding: 8px;
	background: #cfcfcf;
	border-radius: 6px;
}
	/* Fin Bloques de Texto */

	/* Tabla */
.tabla {
	padding: 12px;
	overflow-x: auto;
}

.tituloFilaTabla{
	background-color: #e0e0e0;
	text-align: center;
	padding: 8px;
}

.cabeceraTabla {
	font-size: 22px;
}

.tituloFilaTabla {
	width: 18%;
	font-size: 18px;
}

.contFilaTabla {
	justify-content: space-between;
	padding: 8px;
}

table, th, td {
	border: 1px solid;
}
	/* Fin Tabla */
/* Fin Cuerpo del Documento */

/* Pie de Página */
h4 p {
	color:white;
}