
		/* Presidencia */
.foto {
	margin: 8px 8px 1px 8px;
	padding: 8px;
	text-align: center;
	background: #cfcfcf;
	box-shadow: inset 0px 0px 12px black;
	border-radius: 6px 6px 0px 0px;
}

.foto img {
	width: 48%;
}

.infoFecha { /* Usado junto a .foto porque es para la presidencia */
	margin: 1px 8px 8px 8px;
	padding: 8px;
	text-align: center;
	background: #a1a1a1;
	border-radius: 0px 0px 6px 6px;
}

.infoFecha > p {
	margin: 0px;
	padding: 5px;
	font-size: 26px;
}

.infoPresidencia {
	margin: 8px;
	padding: 8px;
	background: #cfcfcf;
	border-radius: 6px;
}

	/* Fin Imagenes */

.bloqueCreditos {
	width: 36%;
	margin: 0px auto;
}

.titBloqueCreditos {
	margin: 8px auto 0px auto;
	padding: 8px;
	text-align: center;
	background: #a1a1a1;
	border-radius: 6px 6px 0px 0px;
}

.titBloqueCreditos > p {
	margin: 0px;
	padding: 5px;
	font-size: 20px;
}

.acreditados {
	margin: 0px auto 8px auto;
	padding: 2px;
	text-align: center;
	background: #cfcfcf;
	border-radius: 0px 0px 6px 6px;
}

.acreditados > p {
	margin: 2px;
	padding: 2px;
}

.filaDeDocumentos { 
	margin: 2px 2px 0px 2px;
	padding: 4px 4px 0px 4px; 
	display: flex;
	justify-content: space-evenly;
}

.filaDeDocumentos a {
	width: 140px;
}

.elemFila {
	background-color: #cfcfcf;
	text-align: center;
	line-height: 140px;
	width: 140px;
	height: 140px;
}

.elemFila:hover {
	background-color: #a1a1a1;
}

@media (max-width: 1083px) {
	.filaDeDocumentos {
		display: flow;
		flex-direction: none;
		margin: 0px;
		padding: 0px;
	}

	.elemFila {
		margin: 10px auto;
	}
}

	/* Fin Bloques de Texto */

	/* Tabla */
.tabla {
	padding: 12px;
	overflow-x: auto;
}

.tituloFilaTabla{
	background-color: #e0e0e0;
	text-align: center;
	padding: 8px;
}

.cabeceraTabla {
	font-size: 22px;
}

.tituloFilaTabla {
	width: 18%;
	font-size: 18px;
}

.contFilaTabla {
	justify-content: space-between;
	padding: 8px;
}

table, th, td {
	border: 1px solid;
}
	/* Fin Tabla */
/* Fin Cuerpo del Documento */