/*
    ESTE ARCHIVO CONTIENE CÓDIGO EN LENGUAJE CSS (CASCADING STYLE SHEETS) PARA ELEMENTOS
    EXCLUSIVOS DEL INDEX (O PÁGINA PRINCIPAL).
*/
.bloqueGrisClaro h5 {
    text-align: center;
}

.contenedorImagen {
    height: 400px;
}

.contenedorImagen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contenedorVideo {
    display: grid;
    place-items: center;
    width: 100%;
    margin: 10px 0;
}

.contenedorVideo iframe {
    width: 65%;
}

@media (max-width: 789px) {
    .contenedorVideo iframe {
        width: 100%;
    }
}

blockquote, iframe {
    /* Bloque de Tiktok y YouTube*/
    border-radius: 10px;
}