.foto {
	margin: 8px 8px 1px 8px;
	padding: 8px;
	text-align: center;
	background: #cfcfcf;
	box-shadow: inset 0px 0px 8px black;
	border-radius: 6px 6px 0px 0px;
}

.foto img {
	width: 48%;
}

.infoFecha {
	margin: 1px 8px 8px 8px;
	padding: 8px;
	text-align: center;
	background: #a1a1a1;
	box-shadow: 0px 1px 6px black;
	border-radius: 0px 0px 6px 6px;
}

.infoFecha > p {
	margin: 0px;
	padding: 5px;
	font-size: 26px;
}

.infoPresidencia {
	margin: 8px;
	padding: 8px;
	background: #cfcfcf;
    box-shadow: inset 0px 0px 12px black;
	border-radius: 6px;
}