/*
    ESTE ARCHIVO CONTIENE CÓDIGO EN LENGUAJE CSS (CASCADING STYLE SHEETS) EXCLUSIVAMENTE
    PARA EL APARTADO DE ENLACES DE LA PÁGINA WEB DE URBENIA (NACIONAL URBENIA).
*/

/* Contenido de información */
/* Aquí iría '.fila' y '.columna', buscar en 'estilosReutilizables'. */
.imgGenerica {
	width: 150px;
	border-radius: 4px;
    box-shadow: 0px 0px 10px black;
}

/* PARTE DE LOS BOTONES */
.documento {
    background-color: white;
}

.documento a {
    color: black;
}

.urbenia {
    background-color: #E4007C;
}

.urbenia a {
    color: white;
}

.github {
    background-color: black;
}

.github a {
    color: white;
}

.youtube {
    background-color: #ff0000;
}

.youtube a {
    color: #FAFAFA;
}

.spotify {
    background-color: #1DB954;
}

.spotify a {
    color: #191414;
}

.no-disponible {
    background-color: grey;
    color: white;
}

.no-disponible a {
    pointer-events: none;
    cursor: not-allowed;
    color: white;
}