<header class="menu">
	<div class="logo">	
		<a href="{{ site.baseurl }}">
			<img src="{{ site.baseurl }}/general/imagenes/URBLargo.png">
		</a>
	</div>

	<nav class="navegacion">
		<button class="menu-hamburguesa" aria-label="Abrir menú">
			<span></span>
			<span></span>
			<span></span>
		</button>

		<ul class="listaMenu">
			<li> <a href="https://nacionalurbenia.blogspot.com"> Blog </a> </li>
			<li> <a href="#"> Gobierno </a> 
				<ul class="subMenu">
					<li> <a id="Presidencia" href="{{ site.baseurl }}/gobierno/presidencia/presidencia.html"> Presidencia </a>	</li>
					<li> <a id="Historia_O" href="{{ site.baseurl }}/descargas/Historia_O.pdf" download="Historia_O.pdf"> Historia de Otwór </a> </li>
					<li> <a id="Historia_U" href="{{ site.baseurl }}/descargas/Historia_U.pdf" download="Historia_U.pdf"> Historia de Urbenia </a> </li>
					<li> <a id="Torrentismo" href="{{ site.baseurl }}/descargas/Torrentismo.pdf" download="Torrentismo.pdf"> El Torrentismo </a> </li>		
				</ul>
			</li>
			<li> <a href="{{ site.baseurl }}/enlaces.html"> Enlaces </a> </li>
			<li> <a href="{{ site.baseurl }}/creditos.html"> Créditos </a> </li>
			<li> <a href="#"> Redes Sociales </a>
				<ul class="subMenu">
					<li> <a href="https://www.youtube.com/channel/UC2jXEsGdc_t1EomCh_ncsGg"> Canal de YouTube </a> </li>
					<li> <a href="https://www.youtube.com/channel/UChji433QJvTFzR3xRjqeUSw/"> Canal de YouTube de Torrente </a> </li>
					<li> <a href="https://www.instagram.com/nacionalurbenia/"> Perfil de Instagram </a> </li>
				</ul>
			</li>
		</ul>
	</nav>
</header>