<header class="menu">
	<div class="logo">	
		<a href="{{ '/' | relative_url }}">
			<img src="{{ '/imagenes/logos/URBLargo.png' | relative_url }}">
		</a>
	</div>

	<nav class="navegacion">
		<button class="menu-hamburguesa" aria-label="Abrir menú">
			<span></span>
			<span></span>
			<span></span>
		</button>

		<ul class="listaMenu">
			<li> <a href="https://nacionalurbenia.blogspot.com"> Blog </a> </li>
			<li> <a href="{{ '/acerca.html' | relative_url }}"> Acerca </a> </li>
			<li> <a href="#"> Gobierno </a> 
				<ul class="subMenu">
					<li> <a id="Presidencia" href="{{ '/gobierno/presidencia/presidencia.html' | relative_url }}"> Presidencia </a> </li>
					<li> <a id="Historia_O" href="{{ '/descargas/Historia_O.pdf' | relative_url }}" download> Historia de Otwór </a> </li>
					<li> <a id="Historia_U" href="{{ '/descargas/Historia_U.pdf' | relative_url }}" download> Historia de Urbenia </a> </li>
					<li> <a id="Torrentismo" href="{{ '/descargas/Torrentismo.pdf' | relative_url }}" download> El Torrentismo </a> </li>		
				</ul>
			</li>
			<li> <a href="{{ '/enlaces.html' | relative_url }}"> Enlaces </a> </li>
			<!-- <li> <a href="{{ '/creditos.html' | relative_url }}"> Créditos </a> </li> -->
			<li> <a href="#"> Contacto </a>
				<ul class="subMenu">
					<li> <a href="https://www.youtube.com/channel/UC2jXEsGdc_t1EomCh_ncsGg"> Canal de YouTube </a> </li>
					<li> <a href="https://www.youtube.com/channel/UChji433QJvTFzR3xRjqeUSw/"> Canal de YouTube de Torrente </a> </li>
					<li> <a href="https://www.instagram.com/nacionalurbenia/"> Perfil de Instagram </a> </li>
					<li> <a href="mailto:nacionalurbenia@gmail.com"> Correo General </a> </li>
					<li> <a href="mailto:exploracdmx.nacionalurbenia@gmail.com"> Correo de "Explora CDMX" </a> </li>
				</ul>
			</li>
		</ul>
	</nav>
</header>