.presentacion {	
	padding: 1px 20px 1px 20px;
	border-radius: 10px 10px 10px 10px;
	background: #e0e0e0;
}

.general, .información {
	padding: 8px;
	margin: 8px;
	border-radius: 10px;
	background: #e0e0e0;
}

.información {
	align-items: center;
}

table {
    margin: 0 auto;
}

tr {
	border-bottom: 1px solid black;
}
